@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* > * {
  font-family: "Inter", sans-serif;
}

.underline-blue {
  > span {
    @apply inline-block relative;

    span {
      @apply relative z-10;
    }

    &:before {
      @apply bg-[url('./assets/blueBar.svg')] lg:bg-[url('./assets/blueBar.svg')] md:bg-[url('./assets/blueBarShort.svg')] w-full h-full absolute left-0 -bottom-1 bg-contain bg-no-repeat bg-bottom content-[''] block;
    }
  }
}

.underline-yellow {
  > span {
    @apply inline-block relative;

    span {
      @apply relative z-10;
    }

    &:before {
      @apply bg-[url('./assets/yellowBar.svg')] w-full h-full absolute left-0 -bottom-1 bg-contain bg-no-repeat bg-bottom content-[''] block;
    }
  }
}

.underline-yellow-2 {
  @apply overflow-x-hidden py-2;

  > span {
    @apply inline-block relative;

    span {
      @apply relative z-10;
    }

    &:before {
      @apply bg-[url('./assets/yellowMobileShort.svg')] xs:bg-[url('./assets/yellowBar.svg')] w-full h-full absolute 
      -right-1/2 xs:right-auto xs:left-0 -bottom-1 bg-contain bg-no-repeat bg-bottom content-[''] block;
    }
  }
}

.plan-list {
  @apply flex flex-col justify-center border-2 border-tinyyellow rounded-md p-6 
  sm:min-w-[400px] min-w-[280px] w-1/3 grow-0 sm:whitespace-nowrap hover:scale-105
  hover:shadow-2xl transition-all duration-300;
}

.client-list {
  @apply flex flex-col justify-center rounded-md p-6 
  sm:min-w-[400px] sm:max-w-[400px] min-w-[280px] w-1/3 grow-0 xs:shadow-2xl shadow-md
  hover:shadow-2xl transition-all duration-300;
}

.content-section {
  @apply grid 
  grid-cols-1 lg:grid-cols-2  
  px-3 sm:px-5 lg:px-7
  py-16;
}
